
<html>
  <head>
    <title>{{ page.title }} | TEAVY Market</title>
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
  </head>
  <body>
    <header>
      <img src="{{ site.logo }}" alt="TEAVY Logo" />
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/marketplace">Marketplace</a></li>
          <li><a href="/ceremonies">Ceremonies</a></li>
          <li><a href="/eco-laundry">Eco-Laundry</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>TEAVY Market © 2025</p>
    </footer>
  </body>
</html>
